.wow {
  width: 100px;
}



/* CENTERING */
h1 {text-align: center;
   color:salmon;
    font-family:papyrus;
   text-shadow: 2px 2px #ffdab9}
h3 {text-align: center;
    color:#f8ad9d;
    font-family:papyrus;
    text-decoration-line: overline;
    text-decoration-color: white;
}
p {text-align: center;
   color:teal;
    font-family:papyrus
  }
div {text-align: center;
    color:salmon;
    font-family:papyrus
    }
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
    }

    
/* LINKS */
/* unvisited link */
a:link {
  color: navy;
  text-align:center;
    display:block;
}
/* visited link */
a:visited {
  color: salmon;
}
/* mouse over link */
a:hover {
  color: #ee9b00;
}

    




/* p{
  color: red;
} */
/* .class{ */
/*   color: teal; */

